html {
    overflow-y:hidden;
    overflow-x: hidden;
  }

body {
    height: 100vh;
    background-image: radial-gradient(rgb(9,9,121) 0%, rgb(0, 0, 0) 95%);
    background-size: cover;
}

.container {
  padding: 0 8%;
  text-align: center;
  pointer-events: none;
}

hr {
  width: 80px;
  height: 3px;
  color: #ffc400;
  background-color: #ffc400;
  opacity: 100%;
  margin-left: 10px;
}

.content {
  top: 50%;
  left: 10%;
  position: absolute;
  transform: translateY(-50%);
  color: #fff;
  font-family: 'Kdam Thmor Pro', sans-serif;
}

.content h1 {
  font-size: 64px;
  font-weight: 600;

}

.content h1 span {
  color: #ffc400;
}

.launch-time {
  display: flex;
  align-items: center;
}

.launch-time div {
  flex-basis: 100px;
}

.launch-time div p {
  font-size: 60px;
  margin-bottom: -14px;
}

.rocket {
  width: 300px;
  position: absolute;
  right: 25%;
  bottom: 0;
  transform: translateY(-200%);
  animation: rocket 1s 1s ease-out forwards;
  opacity: 0%;
}


@keyframes rocket {
    100% {
      opacity: 100%;
      transform: translateY(-100%);
    }
  }

@media all and (max-width: 800px) {
 @keyframes rocket {
  100% {
    opacity: 100%;
    transform: translateY(-15%);
  }
}

.rocket {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  width: 150px;
}

.content {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
}
.launch-time {
  display: flex;
  justify-content: space-around;
  margin: 50px;
}

}
